@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Aceasta pagina este de model, nu are nici o functionalitate si nu impiedica in folosirea site-ului.</p>
